*{
    font-weight: bold;
}

/* <!-- Logo sony e navbar --> */

.logo-sony{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.logo-sony img{
    width: 80px;
    padding: 10px 0;
}

/* navbar */

.nav-link{
    color: black !important;
    font-size: 18px;
}

.fa-angle-down{
    color: gray;
    vertical-align: middle;
    font-size: 10px;
}

.second-button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    margin-right: 24px;
}

.nav-item-myplaystation{
    margin-right: 12px;
}

/* jumbotron */

.jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbotron img{
    width: 100%;
    padding-top: 300px;
}

.jumbotron h1, .jumbotron p{
    padding-top: 20px;
}

.jumbotron-button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: rgb(205, 61, 15);
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin-top: 12px;
    margin-bottom: 40px;
}

/* <!-- sei immagini in fila --> */

.six-img{
    margin-top: 30px;
}

.six-img-minibox{
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 30px;
}

.six-img-minibox:hover{
    border: 2px solid rgb(0, 114, 206);
}

.six-img-minibox img{
    width: 100%;
}

.six-img-minibox-inner{
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
}

/* testo no limits */

.no-limits{
    text-align: center;
    margin-top: 40px;
}

.no-limits-testo1{
    color: rgb(0, 114, 206)
}

.no-limits-testo2{
    margin-top: 30px;
    color: rgb(114, 114, 114);
}

/* <!-- PlayStation grande --> */

.play-thumb{
    margin-top: 60px;
}

.play-thumb img{
    width: 100%;
}

.play-thumb p{
    color:rgb(114, 114, 114);
    margin-top: 15px;
}

.play-thumb button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: rgb(45, 100, 230);
    padding: 10px;
    border-radius: 22px;
    color: white;
    margin-top: 24px;
    margin-bottom: 40px;
}

/* cinque elementi in fila */

.five{
    margin-top: 50px;
}

.five-img{
    opacity: 0.6;
    text-align: center;
}

.five-img img{
    max-width: 100%;
    width: 110px;
}

.five-img p{
    margin-top: 12px;
}

.five-img:hover{
    opacity: 1;
    border-bottom: 2px solid rgb(0, 114, 206)
}

.five-img .fa-trademark{
    font-size: 10px;
    vertical-align: super;
}

/* <!-- banner it takes two --> */

.banner-takes{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 50px;
}

.banner-takes img{
    width: 100%;
    margin-top: 50px;
}

.banner-takes h1, .banner-takes p{
    margin-top: 20px;
}

.banner-takes p{
    font-size: 12px;
}

.banner-takes-button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: rgb(205, 61, 15);
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin-top: 12px;
    margin-bottom: 40px;
}

/* container grigio */

.container-grigio{
    background-color: rgb(31, 31, 31);
    color: white;
}

.container-grigio img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 12px;
}

.container-grigio h2{
    margin: 24px 0;
}

.container-grigio h5{
    margin-bottom: 24px;
}

.container-grigio p{
    margin-bottom: 24px;
}

