*{
    font-weight: bold;
}

/* <!-- Logo sony --> */

.logo-sony-container{
    background-color: black;
}

.logo-sony{
    display: flex;
    justify-content: flex-end;
}

.logo-sony img{
    width: 80px;
    padding: 10px 0;
    margin-right: 24px;
}

.logo-sony img, .play-logo-blue, .lens:hover{
    cursor: pointer;
}

/* navbar */

.container-fluid{
    background-color: white;
    position: -webkit-sticky; 
    position: sticky; 
    top: 0;
    z-index: 1500;
}

.nav-link{
    color: black !important;
    font-size: 15px;
}

.nav-link:hover{
    color: rgb(0, 114, 206) !important;
}

.play-logo-blue{
    margin-right: 10px;
}

.fa-angle-down{
    color: gray;
    vertical-align: middle;
    font-size: 10px;
}

.fa-angle-down:hover{
    color: rgb(0, 114, 206) !important;
}

.second-button-accedi{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    margin-right: 24px;
}

.second-button-accedi:hover{
    background-color: rgb(114, 114, 114);
}

.nav-item-myplaystation{
    margin-right: 12px;
}

.lens{
    width: 25px;
}

/* jumbotron */

.jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbotron img{
    width: 100%;
    padding-top: 300px;
}

.jumbotron h1, .jumbotron p{
    padding-top: 20px;
}

.jumbotron p{
    font-size: 15px;
}

.jumbotron-button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: rgb(205, 61, 15);
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin-top: 12px;
    margin-bottom: 40px;
}

.jumbotron-button:hover{
    background-color: orange;
}

/* <!-- sei immagini in fila --> */

.six-img{
    margin-top: 30px;
}

.six-img-minibox{
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 24px;
}

.six-img-minibox:hover{
    border: 2px solid rgb(0, 114, 206);
}

.six-img-minibox img{
    width: 100%;
}

.six-img-minibox-inner{
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
}

/* testo no limits */

.no-limits{
    text-align: center;
    margin-top: 40px;
}

.no-limits-testo1{
    color: rgb(0, 114, 206)
}

.no-limits-testo2{
    margin-top: 30px;
    color: rgb(114, 114, 114);
}

/* <!-- PlayStation grande --> */

.play-thumb{
    margin-top: 60px;
}

.play-thumb img{
    width: 100%;
}

.play-thumb p{
    color:rgb(114, 114, 114);
    margin-top: 15px;
}

.play-thumb button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: rgb(45, 100, 230);
    padding: 10px;
    border-radius: 22px;
    color: white;
    margin-top: 24px;
    margin-bottom: 40px;
}

.play-thumb button:hover{
    background-color: blue;
}

/* cinque elementi in fila */

.five{
    margin-top: 50px;
}

.five-img{
    opacity: 0.6;
    text-align: center;
    border-bottom: 2px solid white;
}

.five-img img{
    max-width: 100%;
    width: 110px;
}

.five-img p{
    margin-top: 12px;
}

.five-img:hover{
    opacity: 1;
    border-bottom: 2px solid rgb(0, 114, 206)
}

.five-img .fa-trademark{
    font-size: 10px;
    vertical-align: super;
}

/* <!-- banner it takes two --> */

.banner-takes{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 50px;
}

.banner-takes img{
    width: 100%;
    margin-top: 50px;
}

.banner-takes h1, .banner-takes p{
    margin-top: 20px;
}

.banner-takes p{
    font-size: 12px;
}

.banner-takes-button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: rgb(205, 61, 15);
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin-top: 12px;
    margin-bottom: 40px;
}

.banner-takes-button:hover{
    background-color: orange;
}

/* container grigio */

.container-grigio{
    background-color: rgb(31, 31, 31);
    color: white;
}

.container-grigio img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 12px;
}

.container-grigio img:hover{
    cursor: pointer;
}

.container-grigio h2{
    margin: 24px 0;
}

.container-grigio h5, p{
    margin-bottom: 24px;
}

.container-grigio p:hover{
    cursor: pointer;
}

.container-grigio .fa-trademark{
    font-size: 8px;
    vertical-align: super;
}

/* <!-- playstation 4 titolo e testo centrale --> */

.playstation4-text{
    text-align: center;
    margin-top: 50px;
}

.playstation4-text .fa-registered{
    font-size: 12px;
    vertical-align: super;
}

.playstation4-text p{
    margin-top: 24px;
    color: rgb(114, 114, 114);
}

/* device playstation 4 */

.playstation4{
    margin-top: 40px;
}

.playstation4 img{
    width: 100%;
}

.playstation4 img:hover{
    cursor: pointer;
}

.playstation4 button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: rgb(45, 100, 230);
    padding: 10px;
    border-radius: 22px;
    color: white;
    margin-top: 12px;
}

.playstation4 button:hover{
    background-color: blue;
}

.playstation4 p{
    color: rgb(114, 114, 114);
}

/* playstation plus */

.playstation-plus{
    background-color: rgb(190, 188, 187);
    margin-top: 60px;
    font-size: 12px;
}

.playstation-plus img{
    width: 100%;
}

.logo-plus{
    max-width: 100%;
    width: 300px;
    margin-bottom: 24px;
}

.playstation-plus button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color:rgb(217, 218, 220);
    padding: 10px;
    border-radius: 22px;
    color: rgb(45, 100, 230);
    margin-top: 12px;
}

.playstation-plus button:hover{
    background-color: white;
}

/* media query playstation-plus */

@media all and (min-width: 0) and (max-width: 767px){
    .playstation-plus-immagine-sfondo{
        display: none;
    }

    .logo-plus{
        margin-top: 24px;
    }

    .playstation-plus button{
        margin-bottom: 24px;
    }
}

/* testo playstation store */

.playstation-store-text{
    text-align: center;
    margin-top: 40px;
}

.playstation-store-text p{
    margin-top: 24px;
    color: rgb(114, 114, 114);
}

/* tre immagini in fila playstation store */

.playstation-store-tre-immagini{
    margin-top: 40px;
}

.playstation-store-tre-immagini img{
    width: 100%;
    margin-bottom: 24px;
}

.playstation-store-tre-immagini img:hover{
    cursor: pointer;
}

/* banner playstation now */

.playstation-now{
    background-color: rgb(22, 28, 59);
    margin-top: 50px;
    color: white;
}

.playstation-now img{
    width: 100%;
}

.logo-now{
    max-width: 100%;
    width: 250px;
    margin-bottom: 24px;
}

.playstation-now p{
    font-size: 12px;
}

.playstation-now button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: white;
    padding: 10px;
    border-radius: 22px;
    color: black;
    margin-top: 12px;
}

.playstation-now button:hover{
    background-color: lightgray;
}

/* media query playstation-now */

@media all and (min-width: 0) and (max-width: 767px){
    .playstation-now-immagine-sfondo{
        display: none;
    }

    .logo-now{
        margin-top: 24px;
    }

    .playstation-now button{
        margin-bottom: 24px;
    }
}

/* social media */

.social-media-text{
    text-align: center;
    margin-top: 50px;
}

/* social media icone */

.social-media-icone{
    margin-top: 50px;
}

.social-media-icone img{
    width: 100%;
    margin-bottom: 40px;
}

.social-media-icone img:hover{
    cursor: pointer;
}

/* footer container */

.footer-container{
    background-color: rgb(0, 67, 156);
    margin-top: 50px;
    color: white;
}

.footer-container img{
    max-width: 100%;
}

/* parte iniziale loghi */

.logops-bianco{
    margin-top: 60px;
    margin-bottom: 30px;
}

.globo{
    width: 18px;
    margin-right: 8px;
}

.globo-text{
    font-size: 12px;
}

.logops-bianco img, .globo, .globo-text:hover{
    cursor: pointer;
}

/* parte centrale link */

.footer-container ul{
    list-style: none;
    margin-top: 60px;
    margin-bottom: -50px;
}

.footer-container li{
    margin-bottom: 12px;
}

.footer-container li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* parte finale disclaimer */

.sie-logo{
    width: 140px;
    margin-top: 80px;
    margin-bottom: 24px;
}

.sie-logo-text{
    font-size: 14px;
    margin-bottom: 50px;
}

.sie-logo-text-link{
    color: white;
}
















